<header class="c-header js-header">
  <div class="c-header__eyebrow">
    <div class="c-header__domain">Moët Hennessy Private</div>
    <nav class="c-nav-user">
      <ul>
        <li class="c-nav-user__account">
          <a href="/account">Account</a>
        </li>
        <li class="c-nav-user__cellar">
          <a href="/cellar">
            <span>My Cellar</span> <span class="count">0</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="c-header__main">
    <div class="c-header__menu-toggle-wrapper">
      <button class="c-menu-toggle js-menu-toggle">
        <div class="c-menu-toggle__icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>
    </div>

    <div class="c-header__logo-wrapper">
      <div class="c-header__logo">
        <a href="{{ siteUrl() }}">
          <div class="o-svg o-svg--logo">
            {{ svg('@webroot/assets/static/images/logo.svg') }}
          </div>
        </a>
      </div>
    </div>

    <nav class="c-nav-primary">
      <ul>
        {% set nodes = craft.navigation.nodes().handle('headerPrimary').level(1).all() %}
        {% for node in nodes %}
        <li class="js-nav-primary-item" data-id="{{ node.id }}">
          <a href="{{ node.url }}">
            <span>{{ node.title }}</span>
            {% if node.subNavigationBlocks | length > 0 %}
            <i></i>
            {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <nav class="c-nav-secondary">
      <ul>
        {% set nodes = craft.navigation.nodes().handle('headerSecondary').level(1).all() %}
        {% for node in nodes %}
        <li>
          <a href="{{ node.url }}">
            <span>{{ node.title }}</span>
          </a>
        </li>
        {% endfor %}
      </ul>
    </nav>

    <div class="c-header__mobile-cart-wrapper">
      <div class="c-header__mobile-cart">
        <span>0</span>
      </div>
    </div>
  </div>

  <div class="c-nav-dropdowns">
    {% set nodes = craft.navigation.nodes().handle('headerPrimary').level(1).all() %}
    
    <div class="c-nav-dropdowns">
      {% for node in nodes %}
      {% if node.subNavigationBlocks | length > 0 %}
      <div class="c-nav-dropdown js-nav-dropdown" data-id="{{ node.id }}">
        {% for block in node.subNavigationBlocks %}
        <div class="c-nav-dropdown-block c-nav-dropdown-block--{{ block.type | kebab }}">
          {% if block.type == 'linkList' %}          
          <div class="c-nav-dropdown-block__title">
            {{ block.blockTitle }}
          </div>
          <div class="c-nav-dropdown-block__links c-nav-dropdown-block__links--{{ block.items | length > 6 ? 'long' : 'short' }}">
            <ul>
              {% for item in block.items %}
              <li>
                <a href="{{ item.itemLink.url }}">
                  {{ item.itemTitle }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% elseif block.type == 'featuredImage' %}          
          <div class="c-nav-dropdown-block__image">
            {% include '/partials/_image' with {
              'image': block.image.one()
            } %}
          </div>
          {% endif %}          
        </div>
        {% endfor %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  
  <div class="c-mobile-menu js-mobile-menu">
    <div class="c-mobile-menu__inner">
      <nav class="c-mobile-menu__nav">
        <ul>
          {% set nodes = craft.navigation.nodes().handle('headerPrimary').level(1).all() %}
          {% for node in nodes %}
          <li class="{% if node.subNavigationBlocks | length > 0 %}js-has-link-lists{% endif %}">
            <a href="{{ node.url }}">
              <span>{{ node.title }}</span>
              {% if node.subNavigationBlocks | length > 0 %}
              <i></i>
              {% endif %}
            </a>

            {% if node.subNavigationBlocks | length > 0 %}            
            <div class="c-mobile-menu-link-lists js-link-lists">
              <div class="c-mobile-menu-link-lists__inner">
                {% for block in node.subNavigationBlocks %}
                {% if block.type == 'linkList' %}
                <div class="c-mobile-menu-link-list">
                  <div class="c-mobile-menu-link-list__title">
                    {{ block.blockTitle }}
                  </div>
                  <div class="c-mobile-menu-link-list__links">
                    <ul>
                      {% for item in block.items %}
                      <li>
                        <a href="{{ item.itemLink.url }}">
                          {{ item.itemTitle }}
                        </a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
            </div>
            {% endif %}
          </li>
          {% endfor %}

          {% set nodes = craft.navigation.nodes().handle('headerSecondary').level(1).all() %}
          {% for node in nodes %}
          <li>
            <a href="{{ node.url }}">
              <span>{{ node.title }}</span>
            </a>
          </li>
          {% endfor %}
        </ul>
      </nav>      

      
    </div>
  </div>
</header>
