{% set hasEntity = false %}

{% if category is defined %}
{% set entry = category %}
{% endif %}

{% if entry.entityTitle or entry.entitySubtitle or entry.entityExcerpt %}
{% set hasEntity = true %}
{% endif %}

<div class="m-page-hero {% if hasEntity %}m-page-hero--has-entity{% endif %}">
  <div class="m-page-hero__asset">
    {% include '/partials/_image' with {
      image: entry.heroImage.one(),
      box: false
    }%}

    <div class="m-page-hero__title">
      <div class="container">
        <div class="row">
          <div class="col-mb-9 col-mb-push-1 col-tb-8 col-tb-lg-7 col-lg-7">
            <h1>{{ entry.title }}</h1>          
          </div>
          {% if entry.excerpt %}
          <div class="col-mb-9 col-mb-push-1 col-dk-6">
            <p>{{ entry.excerpt }}</p>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    {% if entry.entityTitle or entry.entitySubtitle %}
    <div class="row">
      {% if entry.entityTitle or entry.entitySubtitle %}
      <div class="col-mb-9 col-mb-push-1">
        <div class="m-page-hero__header c-breadcrumbs">
          {% if entry.entityTitle %}
          <div class="c-breadcrumbs__title">
            {{ entry.entityTitle }}
          </div>
          {% endif %}
          {% if entry.entitySubtitle %}
          <span>/</span>
          <div class="c-breadcrumbs__subtitle">
            {{ entry.entitySubtitle }}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}
      <div class="col-tb-10 col-tb-push-1 col-dk-8 col-lg-8">
        {% if entry.entityExcerpt %}
        <div class="m-page-hero__body">
          <p>{{ entry.entityExcerpt }}</p>
        </div>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
