.m-login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  height: 100vh;
  overflow: auto;
}

.m-login-screen__background {
  @include fill(absolute);
  z-index: 1;
}

.m-login-screen__content {
  position: relative;
  width: 100%;
  max-width: 500px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-login-screen__logo {
  width: 200px;
  margin: 30px 0;

  @include breakpoint(tablet) {
    width: 250px;
    margin: 50px 0;
  }

  @media (min-height:900px) {
    margin: 75px 0;
  }
}

.c-login-form {
  position: relative;
  padding: 30px;
  width: 100%;
  background: radial-gradient(rgba(0,0,0,.95), rgba(0,0,0,.4));

  @include breakpoint(tablet) {
    padding: 50px;
  }
}

.c-login-form__nav {
  text-align: center;
  margin: 0 0 50px 0;
}

.c-login-form__nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-login-form__nav ul li {
  display: inline-block;
  margin: 0 10px;
  @extend .t-link-decoration--ko;

  @include breakpoint(tablet) {
    margin: 0 20px;
  }
}

.c-login-form__nav ul li button {
  font-family:"freightdispcmp-pro";
  font-size: 32px;
  color: $color-white;  
}

.c-login-form .c-form {
  display: none;

  &.is-active {
    display: block;
  }
}