*, :before, :after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
}

html.is-loading {
  cursor: wait;

  a {
    cursor: wait !important;
  }
}

body {  
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: none;
  -moz-osx-font-smoothing: grayscale;  
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: 'Gotham';
  font-weight: 300;
  color: $color-black;
  background-color: $color-spring-wood; 
  overscroll-behavior-y: none;
   
  &.is-loading,
  &.is-navigating {    
    *:not(.c-page-loader) {
      cursor: wait !important;
      pointer-events: none;
    }
  }
}
