.o-button, button {
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  -webkit-appearance: none;
  text-decoration: none !important;
}

.o-button--primary {
  font-family: 'Gotham';
  font-size: 12px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 500;
  color: $color-white;
  background-color: $color-rhino;
  padding: 25px 40px;
  border-radius: 3px;
  transition: background-color 250ms ease;

  &:hover {
    background-color: darken($color-rhino, 10%);
  }
}

.o-button--secondary {
  font-family: 'Gotham';
  font-size: 12px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 500;
  color: $color-white;
  background-color: $color-rhino;
  padding: 15px;
  border-radius: 3px;
  transition: background-color 250ms ease;

  &:hover {
    background-color: darken($color-rhino, 10%);
  }
}

.o-button--icon {
  display: inline-flex;
  align-items: center;

  span:nth-child(1) {
    display: block;
    @extend .t-small-caps;
    margin: 0 24px 0 0;
  }
  
  span:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: $color-bronze;
    border: solid 1px $color-bronze;
    border-radius: 50%;
    transition:
      color 400ms ease,
      border-color 400ms ease;
  }  

  &:hover span:nth-child(2) {
    color: $color-black;
    border: solid 1px $color-black;    
  }

  &.o-button--ko {
    span:nth-child(2) {
      color: $color-white;
      border: solid 1px $color-white;
    }
  }
}
