.o-button, button {
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  -webkit-appearance: none;
  text-decoration: none !important;
}

.o-button--primary {
  font-family: 'Gotham';
  font-size: 12px;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 500;
  color: $color-white;
  background-color: $color-rhino;
  padding: 25px 40px;
  border-radius: 3px;
  transition: background-color 250ms ease;

  &:hover {
    background-color: darken($color-rhino, 10%);
  }
}
