.container {
  position: relative;
  padding: 0 $container-padding-mobile;
  margin: 0 auto;
  max-width: $breakpoint-xxlarge;
  
  @include breakpoint(tablet) {
    padding: 0 $container-padding-tablet;
  }

  @include breakpoint(desktop) {
    padding: 0 $container-padding-desktop;
  }

  @include breakpoint(large) {
    padding: 0 $container-padding-large;
  }

  @include breakpoint(xlarge) {
    padding: 0 $container-padding-xlarge;
  }
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -($grid-column-gutter/2);
  margin-right: -($grid-column-gutter/2); 
  
  [class*='col-'] {
    position: relative;
    min-height: 1px;
    padding: 0 $grid-column-gutter/2;
    flex: 0 0 100%;
    max-width: 100%;  
  }

  &.row--2x-gutter {
    margin-left: -($grid-column-gutter);
    margin-right: -($grid-column-gutter);
    
    [class*='col-'] {
      padding: 0 $grid-column-gutter;
    }
  }

  &.row--3x-gutter {
    margin-left: -($grid-column-gutter * 1.5);
    margin-right: -($grid-column-gutter * 1.5);
    
    [class*='col-'] {
      padding: 0 $grid-column-gutter * 1.5;
    }
  }

  @include breakpoint(tablet) {
    &.row--tb-reverse {
      flex-direction: row-reverse;
    }
  }
  
  @include breakpoint(desktop) {
    &.row--dk-reverse {
      flex-direction: row-reverse;
    }
  }

  @for $i from 1 through $grid-column-count {
    .col-mb-#{$i} {
      flex: 0 0 percentage($i/$grid-column-count);
      max-width: percentage($i/$grid-column-count);
    }
    .col-mb-push-#{$i} {
      margin-left: percentage($i/$grid-column-count);
    }
  }

  @include breakpoint(mobile-large) {
    @for $i from 1 through $grid-column-count {
      .col-mb-lg-#{$i} {
        flex: 0 0 percentage($i/$grid-column-count);
        max-width: percentage($i/$grid-column-count);
      }    
      .col-mb-lg-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }      
    }
  }      

  @include breakpoint(tablet) {
    @for $i from 1 through $grid-column-count {
      .col-tb-#{$i} {
        flex: 0 0 percentage($i/$grid-column-count);
        max-width: percentage($i/$grid-column-count);
      }
      .col-tb-push-0 {
        margin-left: 0%;
      }
      .col-tb-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }

  @include breakpoint(tablet-large) {
    @for $i from 1 through $grid-column-count {
      .col-tb-lg-#{$i} {
        flex: 0 0 percentage($i/$grid-column-count);
        max-width: percentage($i/$grid-column-count);
      }
      .col-tb-lg-push-0 {
        margin-left: 0%;
      }
      .col-tb-lg-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }

  @include breakpoint(desktop) {
    @for $i from 1 through $grid-column-count + 5 {
      .col-dk-#{$i} {
        flex: 0 0 percentage($i/$grid-column-count);
        max-width: percentage($i/$grid-column-count);
      }
      .col-dk-push-0 {
        margin-left: 0%;
      }
      .col-dk-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }

  @include breakpoint(large) {
    @for $i from 1 through $grid-column-count + 5 {
      .col-lg-#{$i} {
        flex: 0 0 percentage($i/$grid-column-count);
        max-width: percentage($i/$grid-column-count);
      }
      .col-lg-push-0 {
        margin-left: 0;
      }
      .col-lg-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }
  
  @include breakpoint(xlarge) {
    @for $i from 1 through $grid-column-count {
      .col-xl-#{$i} {
        flex: 0 0 percentage($i/$grid-column-count);
        max-width: percentage($i/$grid-column-count);
      }
      .col-xl-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }

  @include breakpoint(xxlarge) {
    @for $i from 1 through $grid-column-count {
      .col-xxl-#{$i} {
        flex: 0 0 percentage($i/$grid-column-count);
        max-width: percentage($i/$grid-column-count);
      }
      .col-xxl-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }

  @include breakpoint(xxxlarge) {    
    @for $i from 1 through $grid-column-count {
      .col-xxxl-#{$i} {
        flex: 0 0 percentage($i/$grid-column-count);
        max-width: percentage($i/$grid-column-count);
      }
      .col-xxxl-push-#{$i} {
        margin-left: percentage($i/$grid-column-count);
      }
    }
  }  
}
