figure {
  margin: 0;
}

img {
  max-width: 100%;
  user-select: none;
}

.o-image {  
  img {
    display: block;
    max-width: 100%;
  }
  
  .is-mobile {
    @include breakpoint(tablet) {
      display: none;
    }
    
    + * {
      display: none;
      
      @include breakpoint(tablet) {
        display: inline;
      }
    }
  }

  &[class*=radius] {
    transform: translateZ(0);
  }
}

.o-image--fill {
  @include fill(absolute);
}

.o-image--cover {  
  picture {
    height: 100%;
  }
    
  img, svg {
    @include fill(absolute);
    object-fit: cover;
    object-position: center;
  }
}

.o-image--contain {
  picture {
    height: 100%;
  }
  
  img {
    @include fill(absolute);
    object-fit: contain;
    object-position: center;
  }
}

.o-image--lazy {  
  img {
    opacity: 0;
    transition: opacity 500ms ease;
  }

  img.lazyloaded {
    opacity: 1;
  }
}

.o-image--blend {
  background-color: $color-spring-wood;
  
  img {
    mix-blend-mode: multiply;
  }
}

.o-image-caption {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 2;
  color: $color-white;
}

.o-image-caption--light {
  color: $color-white;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5);
}

.o-image-caption--dark {
  color: $color-black;
}

.o-image-caption__label {
  font-family: 'Gotham';
  font-size: 11px;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: 500;
  margin: 0 0 7px 0;
}

.o-image-caption__body {
  @extend .t-small;
  margin: 0 0 5px 0;
  font-style: italic;
  font-weight: 500;
}

.o-image-caption__attribution {
  @extend .t-small;
  font-weight: 500;
}

