.o-svg {
  position: relative;

  > svg,
  > img {
    @include fill(absolute);
    overflow: visible;
  }
}

.o-svg--logo {
  padding-top: percentage(15/189);
}

.o-svg--mh-logo {
  padding-top: percentage(145.1/220.3);
}
