h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 1em 0;
  color: inherit;
  user-select: none;
}

.t-normal-caps {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 500;
}

.t-small-caps {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 500;
}

.t-xsmall-caps {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 500;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}
