h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 1em;
  margin: 1em 0;
  color: inherit;
  user-select: none;
}

.t-h1 {
  font-family:"freightdispcmp-pro";
  font-size: 75px;
  font-weight: normal;

  @include breakpoint(tablet) {
    font-size: 65px;
  }

  @include breakpoint(desktop) {
    font-size: 75px;
  }
}

.t-h2 {
  font-family:"freightdispcmp-pro";
  font-size: 40px;
  font-weight: 500;
  line-height: 1em;

  @include breakpoint(tablet) {
    font-size: 50px;
  }
}

.t-h3 {
  font-family:"freightdispcmp-pro";
  font-size: 32px;
  line-height: 1em;
  font-weight: 500;

  @include breakpoint(desktop) {
    font-size: 40px;
  }
}

.t-h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: 500;
}

.t-h6 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: 500;
}

.t-normal {
  font-size: 14px;
  line-height: 1.6em;
}

.t-normal-serif {
  font-family:"freight-display-pro";  
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6em;
}

.t-normal-caps {
  font-family: 'Gotham';
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-weight: 500;
}

.t-small {
  font-family: 'Gotham';
  font-size: 12px;
}

.t-small-caps {
  font-family: 'Gotham';
  font-size: 11px;
  line-height: 1.6em;
  text-transform: uppercase;
  letter-spacing: .075em;
  font-weight: 500;  
}

.t-xsmall {
  font-family: 'Gotham';
  font-size: 11px;
}

.t-xsmall-caps {
  font-family: 'Gotham';
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: 500;
}

.t-large {
  font-family: "freightdispcmp-pro";
  font-size: 26px;
  line-height: 1.18em;
  font-weight: 600;
  margin: 0;
  
  &:not(:first-child) {
    text-indent: 1em;
  }

  @include breakpoint(tablet) {
    font-size: 36px;
  }
  
  @include breakpoint(tablet) {
    font-size: 36px;
  }

  @include breakpoint(desktop) {
    font-size: 40px;
  }
}

.t-xlarge {
  font-family: "freightdispcmp-pro";
  font-size: 40px;
  line-height: 1.15em;
  font-weight: 500;

  @include breakpoint(tablet) {
    font-size: 46px;
  }

  @include breakpoint(desktop) {
    font-size: 54px;
  }
}

.t-link-decoration {
  position: relative;
  display: inline-block;

  &:after {
    position: absolute;
    display: block;
    content: '';
    width: 0;
    height: 1px;
    bottom: 0px;
    right: 0;
    left: auto;
    background-color: $color-black;
    z-index: 1;
    will-change: width;
    transition: 
      right 0s ease 300ms,
      left 0s ease 300ms,
      width 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  &:hover:after, 
  &.is-active:after {
    width: 100%;
    left: 0;
    right: auto;
    transition: 
      width 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}

.t-link-decoration-reverse {
  @extend .t-link-decoration;
  
  &:after {
    width: 100%;
    right: auto;
    left: 0;
  }

  &:hover:after, 
  &.is-active:after {
    width: 0%;
    left: auto;
    right: 0;
    transition: 
      width 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
  }
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

i {
  font-style: normal;
}


.rte {
  @extend .t-normal;
}

.rte--serif {
  @extend .t-normal-serif;
}

::selection {
  background: $color-bronze;
  color: $color-white;
}
::-moz-selection {
  background: $color-bronze;
  color: $color-white;
}
