.m-animated-scenes {
  min-height: 100vh;
  margin-bottom: 50vh;
}

.c-animated-scene {
  width: 100%;
}

.c-animated-scene[data-type="quote"] {
  .c-animated-scene-overlay {
    width: 100%;
    max-width: 800px;
  }
  
  .c-animated-scene-overlay__text {
    text-align: center;
    blockquote {
      margin: 0;
      
      p {
        font-family:"freightdispcmp-pro";
        font-size: 30px;
        line-height: 1em;
        font-weight: 500;
        
        @include breakpoint(tablet) {
          font-size: 50px;          
        }
      }
    }
  }
}

.c-animated-scene[data-type="text"] {
  .c-animated-scene-overlay {
    width: 100%;
    max-width: 800px;
  }
  
  .c-animated-scene-overlay__text {
    text-align: center;

    h2 {
      font-family:"freightdispcmp-pro";
      margin: 0;
      line-height: 1em;
      font-size: 50px;
      
      @include breakpoint(tablet) {
        font-size: 75px;          
      }

      @include breakpoint(desktop) {
        font-size: 115px;
      }      
    }
  }
}

.c-animated-scene canvas {
  position: fixed;
  opacity: 0;
  will-transform: opacity;
  z-index: 1;
}

.c-animated-scene-overlay {
  @include v-center(fixed);
  left: 0;
  z-index: 2;
  width: 100%;
  max-width: 450px;
  padding: 0 $container-padding-mobile;
  text-align: center;

  @include breakpoint(tablet) {
    text-align: left;
  }
}

.c-animated-scene-overlay--left {
  @include breakpoint(tablet) {
    left: $container-padding-mobile;

    @include breakpoint(tablet) {
      left: $container-padding-tablet;
    }

    @include breakpoint(desktop) {
      left: $container-padding-desktop;
    }

    @include breakpoint(large) {
      left: $container-padding-large;
    }
  }  
}

.c-animated-scene-overlay--right {
  @include breakpoint(tablet) {
    left: 50%;  
  }  
}

.c-animated-scene-overlay--center {
  @include breakpoint(tablet) {
    @include center(fixed);
  }  
}

.c-animated-scene-overlay__eyebrow {
  @extend .t-h6;
  margin: 0 0 40px 0;
}

.c-animated-scene-overlay__text {
  opacity: 0;
}

.c-animated-scene-overlay__title,
.c-animated-scene-overlay__subtitle {
  font-family:"freightdispcmp-pro";
  font-size: 70px;
  line-height: .9em;
}

.c-animated-scene-overlay__subtitle {
  margin: 0 0 50px 0;
}

.c-animated-scene-overlay__body {
  @extend .t-medium;
  margin: 0 0 50px 0;
}
