.m-brand-hero {
  position: relative;
  height: 150vw;

  @include breakpoint(tablet) {
    height: 60vw;
    max-height: 750px;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $color-spring-wood;
    height: 75px;
    width: 50%;
    z-index: 2;

    @include breakpoint(tablet) {
      height: 100px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $color-spring-wood;
    height: 25px;
    width: 50%;
    z-index: 2;

    @include breakpoint(tablet) {
      height: 30px;
    }
  }
}

.m-brand-hero__asset {
  @include fill(absolute);
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    content: '';
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
    pointer-events: none;
    z-index: 2;
  }
}

.m-brand-hero__asset .o-image-caption {
  display: none;
}

.m-brand-hero__logo {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(10%);
  width: 120px;
  z-index: 3;
  background-color: $color-spring-wood;
  border-radius: 50%;

  @include breakpoint(tablet) {
    width: 175px;
  }

  @include breakpoint(desktop) {
    width: 200px;
  }

  @include breakpoint(large) {
    width: 220px;
  }
}
