.m-page-hero {
  position: relative;
  margin: 0 0 50px 0;

  @include breakpoint(tablet) {
    margin: 0 0 75px 0;    
  }

  @include breakpoint(desktop) {
    margin: 0 0 100px 0;    
  }

  @include breakpoint(large) {
    margin: 0 0 120px 0;    
  }

  &.m-page-hero--has-entity {
    margin: 0 0 50px 0;    
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
    content: '';
    background: linear-gradient(rgba(0,0,0,.25), rgba(0,0,0,0));
    pointer-events: none;
    z-index: 2;
  }
}

.m-page-hero__asset {
  position: relative;
  height: 120vw;
  overflow: hidden;  

  @include breakpoint(tablet) {
    height: 55vw;
    max-height: 650px;
  }

  .m-page-hero--has-entity & {
    height: 150vw;
    
    @include breakpoint(tablet) {
      height: 60vw;
      max-height: 700px;
    }
  }

  .m-page-hero--has-entity &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: $color-spring-wood;
    height: 50px;
    width: calc(100% - #{percentage(1/$grid-column-count)});
    z-index: 2;

    @include breakpoint(tablet) {
      height: 75px;
    }
  }
}

.m-page-hero__title {
  position: absolute;
  bottom: 20%;
  width: 100%;
  color: $color-white;

  .m-page-hero--has-entity & {
    bottom: 25%;
  }
}

.m-page-hero__title h1 {
  margin: 0;
  font-family: "freightdispcmp-pro";
  font-size: 70px;
  line-height: 1em;
  font-weight: 400;

  @include breakpoint(tablet) {
    font-size: 100px;    
  }

  @include breakpoint(desktop) {
    font-size: 120px;    
  }
}

.m-page-hero__title p {
  @extend .t-normal;
  font-weight: normal;
}

.m-page-hero__asset .o-image-caption {
  display: none;
}

.m-page-hero__body {
  @extend .t-xlarge;
}
