.m-quote {
  text-align: center;
  margin: 50px 0;

  @include breakpoint(tablet) {
    margin: 100px 0;
  }
  
  @include breakpoint(desktop) {
    margin: 120px 0;
  }

  @include breakpoint(large) {
    margin: 150px 0;
  }
}

.m-quote__quote {
  margin: 0;
}

.m-quote__quote p {
  @extend .t-xlarge;
  margin: 0;
}

.m-quote__quote cite {
  display: block;
  margin: 50px 0 0 0;
  @extend .t-small-caps;
}
