input, textarea {
  @extend .t-normal;
  outline: none;  
  -webkit-text-fill-color: $color-black;

  .c-form--ko & {
    -webkit-text-fill-color: $color-white;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  color: $color-black !important;
  -webkit-box-shadow: 0 0 0px 1000px transparentize($color-xltgray, .6) inset !important;

  .c-form--ko & {
    color: $color-white;
    -webkit-box-shadow: 0 0 0px 1000px transparentize($color-black, .7) inset !important;
  }
}


.c-form {
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    border: none;
    border-radius: 3px;
    background-color: transparentize($color-xltgray, .6);
    height: 45px;
    width: 100%;
    padding: 10px 20px;
  }

  textarea {
    border: none;
    border-radius: 3px;
    background-color: transparentize($color-xltgray, .6);
    width: 100%;
    padding: 10px 20px;
  }

  &.c-form--ko {
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      border: none;
      border-radius: 3px;
      background-color: rgba(255,255,255, .2);
    }
  }

  transition: opacity 200ms ease;
  
  &.is-loading {
    opacity: .5;
    cursor: wait;
    * {
      cursor: wait;
    }
  }
}

.c-form__group {
  margin: 1.5em 0;
}

.c-form__group label {
  display: block;
  font-family: 'Gotham';
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: .03em;
  margin: 0 0 .5em 0;
}

.c-form__group p {
  @extend .t-normal;
  padding: 0 30px;
}

.c-form__actions .o-button--primary {
  width: 100%;
}

.c-form__errors,
.c-form__message {
  text-align: center;
  @extend .t-normal;
  font-weight: normal;
}

.o-checkbox {
  user-select: none;
  
  input {
    display: none;
  }

  label {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    text-transform: none;
    letter-spacing: normal;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      width: 14px;
      height: 14px;
      flex: 0 0 14px;
      border: solid 1px $color-white;
      margin: 0 10px 0 0;
      vertical-align: middle;
    }
  }

  input:checked + label:before {
    background-color: $color-white;
  }
}

.c-form__footer {
  margin: 30px 0 0 0;
  padding: 30px 0 0 0;
  text-align: center;
  border-top: solid 1px $color-black;
  @extend .t-small;

  .c-form--ko & {
    border-top: solid 1px transparentize($color-white, .5x);
  }

  a {
    @extend .t-link-decoration--ko;
  }
}
