/* Header */

.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: $z-index-8;
  color: $color-black;
  background-color: $color-spring-wood;

  body:not(.is-resizing) & {
    transition:
      background-color 300ms ease,   
      color 300ms ease;
  }  
  
  body.is-transparent-header & {
    color: $color-white;
    background-color: transparent;
  }

  body:not(.page-home).is-scrolled & {
    color: $color-black;
    background-color: $color-spring-wood;    
  }
  
  @include breakpoint(desktop) {
    &:hover {
      color: $color-black !important;
    }
  }
}

/* Header Eyebrow */

.c-header__eyebrow {
  position: relative;
  display: none;
  height: $header-eyebrow-height-desktop;
  border-bottom: solid 1px transparentize($color-black, .75);
  padding: 0 $container-padding-mobile;
  z-index: 2;
  
  body:not(.is-resizing) & {
    transition:
      color 300ms ease 500ms,
      border-color 300ms ease 500ms;
  }  

  body.is-transparent-header & {
    border-bottom: solid 1px transparentize($color-white, .75);
  }

  body:not(.page-home).is-scrolled & {
    border-bottom: solid 1px transparentize($color-black, .75);    
  }
  
  body.is-menu-open & {
    color: $color-white;
    border-bottom: solid 1px transparentize($color-white, .75);
    transition:
      color 300ms ease,
      border-color 300ms ease;
  }

  @include breakpoint(tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 $container-padding-tablet;
  }

  @include breakpoint(desktop) {
    padding: 0 $container-padding-desktop;
    background-color: $color-spring-wood;

    body:not(.is-resizing) & {
      transition:
        background-color 300ms ease,
        border-color 300ms ease;
    }  
    
    body.is-transparent-header & {
      background-color: transparent;
    }

    body:not(.page-home).is-scrolled & {
      background-color: $color-spring-wood;      
    }

    .c-header:hover & {
      background-color: $color-spring-wood;
      border-bottom: solid 1px transparentize($color-black, .75);
    }
  }
}

.c-header__domain {
  @extend .t-small-caps;
}

/* User Nav */

.c-nav-user {
  height: 100%;
}

.c-nav-user ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  height: 100%;
}

.c-nav-user ul li {
  height: 100%;
  border-left: solid 1px transparentize($color-black, .75);
  
  body:not(.is-resizing) & {
    transition: border-color 300ms ease 500ms;
  }

  body.is-transparent-header & {
    border-left: solid 1px transparentize($color-white, .75);
    transition: border-color 300ms ease;
  }

  body:not(.page-home).is-scrolled & {
    border-left: solid 1px transparentize($color-black, .75);
  } 
  
  body.is-menu-open & {
    border-left: solid 1px transparentize($color-white, .75);
    transition: border-color 300ms ease;
  }
  
  @include breakpoint(desktop) {
    body:not(.is-resizing) & {
      transition: border-color 300ms ease;
    }

    .c-header:hover & {
      border-left: solid 1px transparentize($color-black, .75);      
    }
  }
}

.c-nav-user ul li a {
  @extend .t-small-caps;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 25px;
}

.c-nav-user__account a {
  padding-right: 0 !important;

  @include breakpoint(desktop) {
    padding-right: 25px !important;
  }
}

.c-nav-user__cellar {
  display: none;

  @include breakpoint(desktop) {
    display: block;
  }
}

.c-nav-user__cellar span {
  display: block;

  &.count {
    margin-left: 5px;
  }
}

.c-header__main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $header-height-mobile;
  padding: 0 $container-padding-mobile;
  z-index: 2;

  @include breakpoint(tablet) {
    padding: 0 $container-padding-tablet;
  }

  @include breakpoint(desktop) {
    padding: 0 $container-padding-desktop;
    background-color: $color-spring-wood;
    
    body:not(.is-resizing) & {
      transition: background-color 300ms ease;
    }    

    body.is-transparent-header & {
      background-color: transparent;
    }

    body:not(.page-home).is-scrolled & {
      background-color: $color-spring-wood;      
    }
    
    .c-header:hover & {
      background-color: $color-spring-wood;
    }
  }
}

/* Logo */

.c-header__logo-wrapper {
  flex: 1 0 190px;
  max-width: 190px;
  
  @include breakpoint(desktop) {
    flex: 1;
    max-width: none;
  }
}

.c-header__logo {
  width: 100%;
  max-width: 200px;

  path {
    body:not(.is-resizing) & {
      transition: fill 300ms ease 400ms;
    }
   
    body.is-transparent-header & {
      fill: $color-white;
    }

    body:not(.page-home).is-scrolled & {
      fill: $color-black;
    }

    body.is-scrolling & {
      transition: fill 300ms ease;
    }

    body.is-menu-open & {
      fill: $color-white;
      transition: fill 300ms ease 200ms;
    }
    
    @include breakpoint(desktop) {
      body:not(.is-resizing) & {
        transition: fill 300ms ease;
      }

      body:not(.page-home).is-scrolled & {
        fill: $color-black;
      }
      
      .c-header:hover & {
        fill: $color-black;
      }
    }
  }
}

.c-header__menu-toggle-wrapper {
  width: 50px;
  
  @include breakpoint(desktop) {
    display: none;
  }
}

.c-menu-toggle {
  position: relative;
  padding: 10px 10px 10px 0;
}

.c-menu-toggle__icon {
  position: relative;
  width: 30px;
  height: 15px;
}

.c-menu-toggle span {
  position: absolute;
  display: block;
  background-color: $color-black;
  height: 1px;  
  
  body:not(.is-resizing) & {
    transition:
      width 300ms ease,
      background-color 300ms ease 400ms;
  }

  body.is-transparent-header & {
    background-color: $color-white;
  }

  body:not(.page-home).is-scrolled & {
    background-color: $color-black;    
  }

  body.is-scrolling & {
    transition: fill 300ms ease;
  }
  
  body:not(.page-home).is-scrolled.is-scrolling & {
    transition:
      width 300ms ease,
      background-color 300ms ease;
  }

  body.is-menu-open & {
    background-color: $color-white;
    transition:
      width 300ms ease,
      background-color 300ms ease 200ms;
  }

  &:nth-child(1) {
    width: 100%;
    top: 0;
  }

  &:nth-child(2) {
   top: 50%;
    width: 75%;
  }
    
  &:nth-child(3) {
    width: 75%;
    bottom: 0;
  }
}

.c-menu-toggle:hover {
  span {
    &:nth-child(2),
    &:nth-child(3) {
      width: 100%;
    }
  }
}

.c-header__mobile-cart-wrapper {
  width: 50px;
  display: flex;
  justify-content: flex-end;

  @include breakpoint(desktop) {
    display: none;
  }
}

.c-header__mobile-cart {
  background-color: $color-black;
  color: $color-white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  body:not(.is-resizing) & {
    transition:
      color 300ms ease 400ms,
      background-color 300ms ease 400ms;
  }

  body.is-transparent-header & {
    color: $color-black;
    background-color: $color-white;
  }

  body:not(.page-home).is-scrolled & {
    background-color: $color-black;
    color: $color-white;    
  }

  body.is-scrolling & {
    transition:
      color 300ms ease,
      background-color 300ms ease;
  }
    
  body.is-menu-open & {
    color: $color-black;
    background-color: $color-white;
    transition:
      color 300ms ease 200ms,
      background-color 300ms ease 200ms;
  }
}

.c-nav-primary {
  flex: 1;
  height: 100%;
  display: none;

  @include breakpoint(desktop) {
    display: block;
  }
}

.c-nav-primary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.c-nav-primary ul li {
  height: 100%;
}

.c-nav-primary ul li a {
  @extend .t-normal-caps;
  height: 100%;
  display: flex;
  align-items: center;  
  padding: 0 20px;

  @include breakpoint(large) {
    padding: 0 30px;
  }

  @include breakpoint(xlarge) {
    padding: 0 40px;
  }
}

.c-nav-primary ul li a i {
  display: inline-block;
  margin: 0 0 0 3px;
  
  &:after {
    font-family: 'icomoon';
    content: "\e900";
    font-size: 22px;    
  }  
}

.c-nav-dropdowns {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: none;
  transform: translateZ(0);

  @include breakpoint(desktop) {
    display: block;
    opacity: 0;
    visibility: hidden;

    .c-header:hover & {
      opacity: 1;
      visibility: visible;
      transition:
        visibility 300ms ease 200ms,
        opacity 300ms ease 200ms;
    }
  }
}

.c-nav-dropdown {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 30px;
  background-color: $color-spring-wood;
}


.c-nav-dropdown-block {
  margin: 0 50px;
  font-size: 14px;

  @include breakpoint(tablet) {
    margin: 0 60px;
  }
}

.c-nav-dropdown-block__title {
  font-family: 'freightdispcmp-pro';
  font-weight: 500;
  font-size: 24px;
  margin: 0 0 24px 0;
}

.c-nav-dropdown-block__links > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-nav-dropdown-block__links--long ul {
  columns: 2;
  column-gap: 50px;

  @include breakpoint(large) {
    column-gap: 100px;    
  }

  @include breakpoint(xlarge) {
    column-gap: 100px;    
  }
}

.c-nav-dropdown-block__links > ul > li {
  margin: 0 0 12px 0;
}

.c-nav-dropdown-block__links > ul > li > a {
  font-weight: normal;
  @extend .t-link-decoration;
}

.c-nav-dropdown-block--featured-image {
  max-width: 450px;
  flex: 1;
}

/* Nav Secondary */

.c-nav-secondary {
  flex: 1;
  display: none;

  @include breakpoint(desktop) {
    display: block;
    position: relative;
    top: -3px;
  }
}

.c-nav-secondary ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.c-nav-secondary ul li {
  margin: 0 20px;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.c-nav-secondary ul li a {
  @extend .t-small-caps;
}

/* Mobile Menu */

.c-mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  color: $color-white;
  background-color: $color-black;
  overflow: hidden;  
  z-index: 1;

  @include breakpoint(desktop) {
    display: none;
  }
}

.c-mobile-menu__inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  padding-top: $header-height-mobile;
  padding-bottom: 40px;
  
  @include breakpoint(tablet) {
    padding-top: $header-height-desktop + $header-eyebrow-height-desktop;
  }
}

.c-mobile-menu__nav {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 20px 0 0 0;
  padding: 0 $container-padding-mobile;
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  @include breakpoint(tablet) {
    padding: 0 $container-padding-tablet;
  }
}

.c-mobile-menu__nav > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-mobile-menu__nav > ul > li {
  margin: 0 0 24px 0;
  border-bottom: solid 1px transparent;
  
  body:not(.is-resizing) & {
    transition: border-color 400ms ease;
  }

  &.is-open {
    border-bottom: solid 1px transparentize($color-white, .7);
  }
  
  &:last-child {
    margin: 0;
  }
}

.c-mobile-menu__nav > ul > li > a {
  font-family: 'freightdispcmp-pro';
  font-size: 28px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.c-mobile-menu__nav > ul > li > a > i {
  display: inline-block;
  margin: 0 0 0 3px;
  
  &:after {
    font-family: 'icomoon';
    content: '\e900';
    font-size: 22px;
  }  
}

.c-mobile-menu__nav > ul > li.is-open > a > i {
  &:after {
    content: "\e902";
  }
}

.c-mobile-menu-link-lists {
  position: relative;
  display: none;    
}

.c-mobile-menu-link-lists__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 24px 0 24px 0;
  max-width: 500px;    
}

.c-mobile-menu-link-list {

}

.c-mobile-menu-link-list__title {
  font-family: 'freightdispcmp-pro';
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 20px 0;
}

.c-mobile-menu-link-list__links > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-mobile-menu-link-list__links > ul > li {
  margin: 0 0 12px 0;

  &:last-child {
    margin: 0;
  }
}

.c-mobile-menu-link-list__links > ul > li > a {
  font-size: 14px;
}
